nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li{
  list-style-type: none;
  margin-left: 5px;
}

#account{
  padding-left: 10px;
}
