<main>
  <nav>
    <h1>
      KeycloakMVP
    </h1>

    <!-- when the user is not auth-->
    <ng-container *ngIf="!this.isAuth">
      <ul>
        <li>
          <button mat-button (click)="login()">
            Login
          </button>
        </li>
       <li>
        <button mat-button (click)="register()">
          Register
        </button>
       </li>
      </ul>
    </ng-container>

    <!-- when the user is auth-->
    <ng-container *ngIf="this.isAuth">
        <ul>
          <li id="account">
            <button mat-button [routerLink] = '["/film"]'>
                Films
            </button>
          </li>
          <li>
            <button mat-button (click)="logout()">
              Logout
            </button>
          </li>
          <li id="account">
            <button mat-fab>

                <button  mat-icon-button  [matMenuTriggerFor]="menu" style="border-radius: 100%;">
                  <mat-icon style="border-radius: 100%;" >person</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item [routerLink]='["/edit"]'>Edit</button>
                </mat-menu>

            </button>
          </li>

        </ul>
    </ng-container>

  </nav>

</main>
<router-outlet />
